.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 40px;

}

.texto-p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.texto-m {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}

.texto-m1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

.texto-g {
    font-size: 2.5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    line-height: 1.2;
}

.titulo {
    font: bold 3rem/1.2 'Nunito Sans', sans-serif;
}

.header nav a {
    font-size: 1.25rem;
}

@media (max-width:350px) {
    .titulo {
        font-size: 2rem;
    }

    .texto-g {
        font-size: 1.85rem;
    }
}