.sobre {
    margin-top: 60px;
    margin-bottom: 80px;
}

.sobre h1 {
    padding-bottom: 2.5rem;
    border-bottom: 2px solid rgb(55, 55, 227);
}

.sobre-flex {
    display: flex;
    padding: 60px 0;
    gap: 2rem;
    border-bottom: 2px solid rgb(55, 55, 227);
}